/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/tronflow-mutect2 Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

profiles {
    conda {
        params.enable_conda         = true
        conda.enabled               = true
        conda.createTimeout         = "120 min"
    }
    debug {
        cleanup                     = false
        dumpHashes                  = true
        process.beforeScript        = "echo $HOSTNAME" 
    }
    mamba {
        params.enable_conda         = true
        conda.enabled               = true
        conda.createTimeout         = "120 min"
        conda.useMamba              = true
    }
    test {
        timeline.enabled            = false
        report.enabled              = false
        trace.enabled               = false
        dag.enabled                 = false
    }
}

// export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE    = 1
    R_PROFILE_USER      = "/.Rprofile"
    R_ENVIRON_USER      = "/.Renviron"
}

// capture exit codes from upstream processes when piping
process.shell = ["/bin/bash", "-euo", "pipefail"]

VERSION     = "1.8.0"
DOI         = "https://zenodo.org/badge/latestdoi/355860788"

manifest {
    name                = "TRON-Bioinformatics/tronflow-mutect2"
    author              = "Pablo Riesgo-Ferreiro, Özlem Muslu, Luisa Bresadola, Julian Thomas Mohr"
    homePage            = "https://github.com/TRON-Bioinformatics/tronflow-mutect2"
    description         = "Mutect2 best practices workflow to create a panel of normals"
    mainScript          = "main.nf"
    nextflowVersion     = ">=19.10.0"
    version             = VERSION
    doi                 = DOI
}
params.manifest = manifest

params.help_message = """
${params.manifest.name} v${params.manifest.version}
Author: ${params.manifest.author}

${params.manifest.description}

Usage:
    nextflow run ${params.manifest.mainScript} --input_files input_files

This workflow aims to compute a panel of normals to be used with MuTect2

Input:
    * input_files: the path to a file containing in each row the sample name and the path to a BAM file to be included in the PON
    	example:
	sample1	/path/to/sample1.bam
	sample2	/path/to/sample2.bam
	NOTE: the sample name must be set in the @SN annotation

Optional input:
    * output: the folder where to publish output

Output:
    * Output combined VCF pon.vcf
"""
