/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/tronflow-mutect2 Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
process.container = 'tron-bioinformatics/tronflow-mutect2:0.2.0'

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test {
    params.input_files = "test_data/test_input.txt"
    params.reference = "$baseDir/test_data/ucsc.hg19.minimal.fasta"
    params.intervals = "$baseDir/test_data/intervals.minimal.bed"
    params.gnomad = "$baseDir/test_data/gnomad.minimal.vcf.gz"
    params.cpus = 1
    params.memory = 2g
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  //file = "${params.output}/execution_timeline.html"
}
report {
  enabled = true
  //file = "${params.output}/execution_report.html"
}
trace {
  enabled = true
  //file = "${params.output}/execution_trace.txt"
}
dag {
  enabled = true
  //file = "${params.output}/pipeline_dag.svg"
}

manifest {
  name = 'TRON-Bioinformatics/tronflow-mutect2'
  author = 'Pablo Riesgo Ferreiro'
  homePage = 'https://github.com/TRON-Bioinformatics/tronflow-mutect2'
  description = 'Mutect2 best practices workflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.2.0'
}
