/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/tronflow-mutect2 Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

profiles {
  conda { params.enable_conda = true }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test {
    params.reference = "$baseDir/test_data/ucsc.hg19.minimal.fasta"
    params.intervals = "$baseDir/test_data/intervals.minimal.bed"
    params.gnomad = "$baseDir/test_data/gnomad.minimal.vcf.gz"
    params.memory_mutect2 = "2g"
    params.cpus_mutect2 = 1
    params.memory_read_orientation = "2g"
    params.cpus_read_orientation = 1
    params.memory_pileup = "2g"
    params.cpus_pileup = 1
    params.memory_contamination = "2g"
    params.cpus_contamination = 1
    params.memory_filter = "2g"
    params.cpus_filter = 1
    timeline.enabled = false
    report.enabled = false
    trace.enabled = false
    dag.enabled = false
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

VERSION = '1.4.0'
DOI = 'https://zenodo.org/badge/latestdoi/355860788'

manifest {
  name = 'TRON-Bioinformatics/tronflow-mutect2'
  author = 'Pablo Riesgo-Ferreiro, Özlem Muslu, Luisa Bresadola'
  homePage = 'https://github.com/TRON-Bioinformatics/tronflow-mutect2'
  description = 'Mutect2 best practices workflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = VERSION
  doi = DOI
}

params.help_message = """
TronFlow Mutect2 v${VERSION} ${DOI}

Usage:
    nextflow run tron-bioinformatics/tronflow-mutect2 -profile conda --input_files input_files [--reference reference.fasta]

This workflow is based on the implementation at /code/iCaM/scripts/mutect2_ID.sh

Input:
    * input_files: the path to a tab-separated values file containing in each row the sample name, tumor bam and normal bam
    The input file does not have header!
    Example input file:
    name1	tumor_bam1	normal_bam1
    name2	tumor_bam2	normal_bam2
    * reference: path to the FASTA genome reference (indexes expected *.fai, *.dict)
    * gnomad: path to the gnomad VCF or other germline resource

Optional input:
    * intervals: path to a BED file containing the regions to analyse
    * output: the folder where to publish output
    * memory_mutect2: the ammount of memory used by mutect2 (default: 16g)
    * cpus_mutect2: the number of CPUs used by mutect2 (default: 2)
    * memory_read_orientation: the ammount of memory used by learn read orientation (default: 16g)
    * cpus_read_orientation: the number of CPUs used by learn read orientation (default: 2)
    * memory_pileup: the ammount of memory used by pileup (default: 32g)
    * cpus_pileup: the number of CPUs used by pileup (default: 2)
    * memory_contamination: the ammount of memory used by contamination (default: 16g)
    * cpus_contamination: the number of CPUs used by contamination (default: 2)
    * memory_filter: the ammount of memory used by filter (default: 16g)
    * cpus_filter: the number of CPUs used by filter (default: 2)
    * disable_common_germline_filter: disable the use of GnomAD to filter out common variants in the population
    from the somatic calls. The GnomAD resource is still required though as this common SNPs are used elsewhere to
    calculate the contamination (default: false)
    * args_filter: optional arguments to the FilterMutectCalls function of GATK (e.g.: "--min-allele-fraction 0.05 --min-reads-per-strand 1 --unique-alt-read-count 4") (see FilterMutectCalls documentation)
    * funcotator: To use Funcotator, supply the path to a database to be used. (can be downloaded from GATK FTP server)
    * cpus_funcotator: the number of CPUs used by Funcotator (default: 2)
    * memory_funcotator: the ammount of memory used by filter (default: 16g)
    * reference_version_funcotator: version of the reference genome (default: "hg19")
    * output_format_funcotator: the output format of Funcotator. Can be VCF or MAF (default: "MAF")
    * transcript_selection_mode_funcotator: transcript selection method can be CANONICAL, BEST_EFFECT or ALL. (default: CANONICAL)
    * args_funcotator: optional arguments to Funcotator (e.g. "--remove-filtered-variants true")  (see Funcotator documentation)


Output:
    * Output VCF/MAF
    * Other intermediate files
    """
